.divAdminContainer{
    display: flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #f9f6f4;
}

#leftAdminContainer {
    width: 30%;
    height: 800px;
    max-width: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

#adminButtonSizing{
    width: 160px;
}

#rightAdminContainer {
    height: 800px;
    width: 70%;
    max-width: none;
    overflow: auto;
}

#pFoodsFilter{    
    background-color: #F1FFC4;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;
}


#pFoodsFilter a{
    margin: 5px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5px;
    padding: 7px;

}

#pFoodsFilter a:hover{
   background-color: rgba(0, 0, 0, 0.638);
   color: wheat;
}