.divAdminContainer{
    display: flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

#leftAdminContainer {
    width: 50%;
    height: 800px;
    max-width: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;

}

#adminButtonSizing{
    width: 160px;
}

#rightAdminContainer {
    height: 800px;
    width: 40%;
    max-width: none;
}