.navbar-conteiner{
    position: sticky;
    top: 0;
}
.navbar-conteiner header {
    display: flex;
    border: 1px solid rgb(0, 0, 0);
    background-color: #1F1F1F;
    justify-content: center;
    align-items: center;
    flex-direction: row;
 
}

.navbar-conteiner button {
    background: none;
    color: white;
    padding: 10px;
}

.navbar-conteiner button:hover{
    background-color: hsla(0, 0%, 100%, 0.2);
    backdrop-filter: blur(1px);
    transition: 0.2s;
    padding: 10px;
}

.navbar-buttons {
    display: flex;
}