.main_conteiner_order {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    max-height: 70vh;
    overflow-x: clip;
}

#conteiner_order {
    margin: 1%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 25px;
    padding: 3%;
}