.max-w-sm img {
    max-height: 20vh;
    min-height: 25vh;
    object-fit: cover;
}

.max-w-sm {
    transition: 0.5s;
    margin: 1%;
    border-radius: 20px;
    transition: 0.5s;
    min-width: 24rem;

}

.max-w-sm p {
    min-height: 10vh;
}


