.max-w-sm img {

    max-height: 25vh;
    min-width: 20vw;
    min-height: 25vh;
    object-fit: cover;
}

.max-w-sm {
    margin: 1%;
    border-radius: 20px;
    transition: 0.5s;
}

.max-w-sm p {
    min-height: 10vh;
}


