.home-conteiner {
    background-color: #000000;
    transition: 1s;
}

.logo-conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 70vh;
    margin-top: 10%;
    margin-bottom: 10%;
}

.logo-conteiner img {
    border-radius: 50%;
}