  #imagen_detail_modal {
    max-height: 50vh;
    min-height: 50vh;
    object-fit: cover;
    border-radius: 10px;
  }

  #contenedor_detail {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  #detalle_der {
    margin: 2%;
    min-height: 80vh;
    max-width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  #detalle_izq {
    margin: 1%;
    max-width: 50vw;
  }

  .detail_label {
    background-color: #EFE1BD;
    text-align: center;
    border: solid 1px;
    border-radius: 20px;
    margin: 2%;
  }

  #detail_contenedor_labels {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .modal_inputs_details {
    margin: 5%;
  }

  .extra_item_detalle {
    margin-top: 5%;
  }

  .extra_item_detalle img {
    max-height: 25vh;
    object-fit: contain;
    margin-top: 5%;
  }

  .extra_item_detalel_conteiner {
    font-size: 20px;
    font-weight: normal;
    display: flex;
    justify-content: space-around;
  }

  .extra_item_detalel_conteiner2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  #buttons_detail_buy {
    margin-top: 5%;
  }