  #imagen_detail_modal{
    max-width: 35vw;
    max-height: 50vh;
    min-width: 30vw;
    min-height: 50vh;
    object-fit: cover;
    border-radius: 10px;
  }

  #contenedor_detail {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  #detalle_der {
    margin: 1%;
  }
  
  #detalle_izq {
    margin: 1%;
  }

  .detail_label {
    background-color: #EFE1BD;
    display: flex;
    flex-direction: column;
    border: solid 1px;
    border-radius: 20px;
    margin: 2%;
  }

  #detail_contenedor_labels{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }