.formSearchBarStyle {
    display: inline-block;
    position: relative; 
}

.formSearchBarStyle:hover input {
        width: 200px;
        padding: 0 36px 0 8px;
        cursor: pointer;
}

.inputFormSearchBarStyle {
    width: 200px;
    padding: 0 36px 0 8px;
    cursor: pointer;
}

.divPrueba input {
    width: 200px;
    padding: 0 36px 0 8px;
    cursor: pointer;
}

.formButtonSearchBarStyle {
    cursor: pointer;
}

.formButtonSearchBarStyle{   
    width: 20px;
    height: 20px;
    background-color: rgb(202, 202, 202);
    color: #fff;
    border: 0;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputFormSearchBarStyle{
    width: 0px;
    height: 30px;
    border: 0;
    transition: all 0.3s;}