#logoNavBarImg {
    border-radius: 7px
}

#carrito {
    position: fixed;
    z-index: 15;
    background-color: rgb(255, 255, 255);
    height: 7vh;
    width: 7vh;
    display: flex;
    top: 2%;
    right: 1%;
    flex-direction: column;
    align-items: center;
    border-radius: 50%;
    border-style: solid;
    border-width: thin;
}

#carrito h1 {
    font-size: large;
    border-radius: 50%;
    border-style: solid;
    border-width: thin;
    border-color: crimson;
    min-width: 50%;
}