#conteinerCard_order {
    border-style: groove;
    display: flex;
    border-radius: 20px;
    justify-content: space-evenly;
    align-items: center;
    border-color: rgb(99, 99, 99);
    border-width: 0.2px;
    padding: 5%;
}

#conteinerCard_order h1 {
    object-fit: contain;
}

#conteinerCard_order img {
    max-width: 10VW;
    max-height: 10vh;
    border-radius: 25px;
    object-fit: contain;
}

.conteiner_acordion {
    height: 70vh;
    overflow: auto;
    width: 50%;
    padding: 3%;
}

.conteiner_factura_detalles {
    width: 50%;
    height: 70vh;
    overflow: auto;
}

.conteiner_calificacion {
    display: flex;
    background-color: #e6e6e6;
    padding: 2%;
}