.Contenedor {
  /* background-color: #F1FFC4; */
}

.Contenedor_cartas {
  display: flex;
  flex-wrap: wrap;
}

.background_image_gps {
  width: 100%;
  height: 35vh;
  margin-bottom: 10px;
  background-size: cover;
  background-position-y: center;
  background-image: url('https://arushad.org/wp-content/uploads/2015/03/map-1200x630.png');
}

#selectConfigSize {
  width: 180px;
  height: inherit;
  color: black;
  text-align: center;
}

#buttonAsideConfig {
  width: 200px;
  font-size: 1.3rem;
  max-width: 250px;
}

.categorias-conteiner ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  border-width: 0;
}


.categorias-productos {
  display: flex;
  /* background-color: #F1FFC4; */
  flex-direction: row;
}

.sort-buttons {
  display: flex;
  width: 100%;
  height: 5vh;
  /* background-color: #F1FFC4; */
  justify-content: space-evenly;
}

.categorias-productos {
  display: flex;
  /* background-color: #F1FFC4; */
  flex-direction: row;
}

.categorias-conteiner {
  background-color: transparent;
  position: sticky;
  top: 15%;
  width: 290px;

}

.categorias-conteiner ul {
  list-style: none;
}

.categorias-conteiner ul a {
  text-decoration: none;
  color: black;
}

.categorias-conteiner ul a li:hover {
  text-decoration: underline;
  cursor: pointer;
  /* background-color: #f1ffc491; */
}

.categorias-conteiner li {
  font-size: 1.5rem;
  padding: 1%;
}

.categorias-div {
  width: 18%;
  /* background-color: #F1FFC4; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: flex-start;
  align-items: stretch;
}

.productos-conteiner {
  width: 70%;
  margin-left: 3%;
  margin: 1%;
}

#top_button {
  position: fixed;
  right: 5%;
  bottom: 15%;
  border-radius: 50%;
  transition: all 300ms ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#top_button:hover {
  transform: scale(1.3);
}

.TOP {
  position: sticky;
}

.TOP h1 {
  font-size: 150px;
  text-align: center;
  color: rgb(224, 209, 0);
  font-family: "Dancing";
}

.TOP video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.theme-toggle--button {
  --button-diameter: 70px;
  --shape-size: 25px;
  --color: #353175;
  border: none;
  outline: none;
  display: flex;
  cursor: pointer;
  border-radius: 50%;
  position: fixed;
  align-items: center;
  background-color: #fff;
  justify-content: center;
  transition: box-shadow 500ms;
  font-size: var(--shape-size);
  width: var(--button-diameter);
  height: var(--button-diameter);
  box-shadow: 4px 4px 15px rgba(53, 49, 117, 0.2);
  z-index: 15;
  top: 2%;
  left: 3%;
}

.dark~.theme-toggle--button {
  box-shadow: 4px 4px 15px rgb(29 27 58);
}

.theme-toggle--button span {
  display: inline-block;
}

.theme-toggle--button .rays--container {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}

.theme-toggle--button .rays--container .ray {
  position: absolute;
  border-radius: 50%;
  transition: all 500ms;
}

.theme-toggle--button .rays--container .ray:nth-child(2) {
  transform: rotate(45deg);
}

.theme-toggle--button .rays--container .ray:nth-child(3) {
  transform: rotate(90deg);
}

.theme-toggle--button .rays--container .ray:nth-child(4) {
  transform: rotate(-45deg);
}

.theme-toggle--button .shape {
  z-index: 1;
  position: absolute;
  border-radius: 50%;
  background: #fff;
  border: 2px solid #fff;
  transition: all 500ms;
}

.theme-toggle--button .shape.moon {
  width: 1.667em;
  height: 1.667em;
  box-shadow: inset -0.5em -0.5em var(--color);
}

.theme-toggle--button .shape.moon~.rays--container .ray {
  width: 0;
  height: 0;
}

.theme-toggle--button .shape.sun {
  width: 1em;
  height: 1em;
  box-shadow: inset -0.7em -0.7em var(--color);
}

.theme-toggle--button .shape.sun~.rays--container {
  transform: rotate(90deg);
  transition: transform 750ms 400ms;
}

.theme-toggle--button .shape.sun~.rays--container .ray {
  width: 0.334em;
  height: 1.667em;
  background-color: var(--color);
}