.duo-input {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.register-conteiner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3% 5%;
}

.register-conteiner form {

    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid grey;
    background-color: ghostwhite;
    border-radius: 3%;
    padding: 0 5% 30px 5%;
}

.register-conteiner form button:disabled {
    opacity: 0.8;
    cursor: not-allowed;
}

.image-subida {
    max-width: 15%;
}

.adress-input{
    width: 100%;
    margin-bottom: 0.75rem;
}