.divFormPass {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 50%;
    height: 400px;
    justify-content: center;
    flex-wrap: wrap;
}

.formPassReset {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formPassReset input {
    margin: 10px;
}

.pruebaDivCenter{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    background-color: #F1FFC4;
}